@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
    transition: background-color 0.3s;
}

header {
    margin-bottom: 30px;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

p {
    margin: 5px;
    color: #555;
    font-size: 1.1rem;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.btn {
    text-decoration: none;
    padding: 15px 30px;
    background-color: #00C853; 
    color: white;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: #00FF7F; 
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


form {
    max-width: 300px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #00C853;
}

button {
    padding: 10px;
    background-color: #00C853; 
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #00FF7F; 
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#pharmacy-container {
    margin-top: 20px;
    text-align: center;
}

#pharmacy-iframe {
    width: 100%;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.find-pharmacy-info {
    font-size: 1.5rem; 
    font-weight: bold; 
    color: #333; 
    text-align: center; 
    margin-bottom: 20px; 
}

.find-pharmacy-info p {
    margin: 10px 0; 
    font-size: 1.8rem; 
}
